In [11]:
nrow = 5
for i in range(nrow, 0, -1):
    for j in range(nrow - i + 1):
        print(i, end=' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [12]:
user_input = input("Enter a character: ")

if len(user_input) != 1:
    print("Please enter exactly one character.")
else:
    char = user_input[0]
    
    if char.isdigit():
        print("Digit")
    elif char.islower():
        print("Lowercase character")
    elif char.isupper():
        print("Uppercase character")
    else:
        print("Not a digit or an alphabet character")

Enter a character: 5
Digit

In [29]:
n = int(input("Enter n for total numbers in series: "))

n1, n2 = 0, 1

count = 0

while count < n:
    print(n1)
 
    n1, n2 = n2, n1 + n2
    count += 1

Enter n for total numbers in series: 6
1
0
1
1
2
3
5

In [5]:
n=int(input("Enter range: "))

for i in range(2,n):
    for j in range(2,(i//2)+1):
        if (i%j)==0:
            break
    else:
            print(i)

Enter range10
2
3
5
7

In [10]:
import math
n1=int(input("enter n1:"))
n2=int(input("enter n2:"))
print(f"The Least Common Multiple of {n1} and {n2} is {math.lcm(n1,n2)}")

enter n112
enter n215
The Least Common Multiple of 12 and 15 is 60